/* resetando configs do css padrão */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Importando as fontes do googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Definindo as variáveis de estilo */
:root {
    /* variáveis de cor */
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #000000;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --button-background-color: #0156FF;
    --hover-background-color: #F5F7FF;

    /* variáveis de fonts */
    --fonte-principal: 'Poppins', sans-serif;
    --tamanho-fonte-padrao: 14px;
    --tamanho-fonte-secundaria: 13px;
    --tamanho-fonte-titulo: 32px;
    --tamanho-fonte-paragrafo: 14px;
    --tamanho-fonte-valores: 16px;

  }
  
#rectangle1 {
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 15% 0 15%;
}

#diaDataHora {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 600;
    color: var(--secondary-text-color);
}
.telefone {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 600;
    color: var(--secondary-text-color);
}
.rectangle1-text {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-secundaria);
    font-weight: 600;
    color: #A2A6B0;
}