.header-search {
  padding: 15px 0px;
}

.header-search form .input {
  width: calc(100% - 160px);
  margin-right: -1px;
  border-radius: 50px 0 0 50px;
}

.header-search form .search-btn {
  height: 40px;
  width: 100px;
  background: #0156ff;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}
